/* Container for the Mini Products */
.mini-products-container {
  position: sticky;
  top: 130px;
  left: 0;
  height: 100%;
  z-index: 1100;
  display: flex;
  padding: 0px 0px;
  align-items: flex-start;
  margin: auto;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Side Navigation */
.side-navigation {
  background-color: #333333e9;
  color: #fff;
  height: 100%;
  width: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease;
  border-radius: 12px;
}

.side-navigation.collapsed {
  width: 25px;
}

.side-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-navigation li {
  display: flex;
  align-items: center;
  margin: 25px 0;
  font-size: 1.123rem;
  transition: color 0.3s;
  cursor: pointer;
}

.side-navigation li:hover {
  color: #f4b400;
}

.side-navigation .icon {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 12px;
  padding: auto;
}

.icon-description {
  white-space: nowrap;
  overflow: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.side-navigation.collapsed .icon-description {
  opacity: 0;
  visibility: hidden;
}

/* Toggle Button */
.mini-products-toggle-btn {
  position: fixed;
  top: 84px;
  left: 32px;
  z-index: 1100;
  background-color: #33333392;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mini-products-toggle-btn:hover {
  background-color: #000000;
}
