/* Container for the Mini Products */
.mini-products-container {
  position: sticky;
  top: 0;
  left: 0;
  height: calc(100% - 130px);
  z-index: 1100;
  display: flex;
  padding: 5px 0px;
  align-items: flex-start;
  margin: auto;
  transition: transform 0.3s ease, opacity 0.3s ease;
  overflow-y: auto;
}

/* Side Navigation */
.side-navigation {
  background-color: #333333e9;
  color: #fff;
  height: 100%;
  width: 210px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease;
  border-radius: 12px;
}

.side-navigation.collapsed {
  width: 39px;
  padding: 8px;
}

.side-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-navigation li {
  display: flex;
  align-items: center;
  margin: 18px 0;
  padding: 3px 8px;
  font-size: 1.06rem;
  transition: color 0.3s;
  cursor: pointer;
  border-radius: 12px;
}

.side-navigation li:hover {
  color: #ffbe0c;
  background-color: rgba(0, 0, 0, 0.341);
}

.side-navigation .icon {
  font-size: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 12px;
  text-align: center;
  padding: auto;
  font-weight: 900;
}

.side-navigation.collapsed .icon {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 10px;
}

.icon-description {
  white-space: nowrap;
  overflow: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.side-navigation.collapsed .icon-description {
  opacity: 0;
  visibility: hidden;
}

/* Toggle Button */
.mini-products-toggle-btn {
  background-color: #33333392;
  color: #fff;
  border: none;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mini-products-toggle-btn:hover {
  background-color: #000000;
  color: #f4b400;
}

@media (max-width: 768px) {
  .side-navigation {
    width: 180px;
    padding: 6px;
    border-radius: 8px;
  }

  .side-navigation.collapsed {
    width: 35px;
    padding: 6px;
  }

  .side-navigation li {
    margin: 12px 0;
    padding: 2px 4px;
    font-size: 0.9rem;
    border-radius: 10px;
  }

  .side-navigation .icon {
    font-size: 1.7rem;
    margin-right: 9px;
  }

  .side-navigation.collapsed .icon {
    font-size: 1.15rem;
    margin-right: 8px;
  }

  .mini-products-toggle-btn {
    margin-bottom: 15px;
  }
}
