/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 1100;
}

/* Modal Content */
.modal-content {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  width: 90%;
  margin-top: 95px;
  max-width: 600px;
  padding: 25px;
  position: relative;
  z-index: 1100;
  animation: fadeIn 0.3s ease-in-out;
  overflow-y: scroll;
}

/* Close Button */
.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 25px;
  color: #444;
  cursor: pointer;
  transition: transform 0.2s, color 0.2s;
}

.modal-close:hover {
  transform: scale(1.2);
  color: #000;
}

/* Modal Body */
.modal-body {
  text-align: center;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

.carousel-slide-modal {
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.399);
  border-radius: 12px;
}

.modal-image {
  width: 100%;
  height: 300px;
  object-fit: contain;
  border-radius: 12px;
}

.price-details span {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.modal-pricing {
  margin: 10px 0;
}

.modal-original-price {
  text-decoration: line-through;
  color: #e74c3c;
  font-size: 60px;
}

.modal-new-price {
  font-size: 65px;
  font-weight: bold;
  color: #2ecc71;
}

.modal-discount {
  color: #f39c12;
  font-size: 16px;
  margin: 5px;
}

.modal-price {
  font-size: 65px;
  font-weight: bold;
  color: #2ecc71;
}

.modal-description {
  color: #555;
  line-height: 1.6;
  margin: 15px 0;
}

.modal-offer {
  font-size: 16px;
  color: #3498db;
}

.modal-dates {
  font-size: 12px;
  color: #777;
  margin-bottom: 5px;
}

.modal-colors {
  margin: 15px 0;
}

.color-palette {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.color-box {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ddd;
}

.modal-status {
  font-size: 16px;
  color: #444;
  margin-top: 15px;
}

.modal-tags-div {
  padding: 1px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.modal-tags-div .modal-tags {
  display: grid;
  width: 20%;
  font-weight: 100;
  background-color: #fbf5f57b;
  border: 1px solid #645e5e;
  border-radius: 23px;
  padding: 5px 2px;
  margin: 0;
  cursor: pointer;
}

.modal-tags-div .modal-tags {
  margin-right: 5px;
}

.modal-content::-webkit-scrollbar {
  width: 5px;
}

.modal-content::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #888;
}

.image-modal-content::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.modal-content::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 5px;
}

/* Fade-In Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
