.offers-container {
  padding: 15px 10px;
}

.offers-header {
  text-align: center;
  background-color: #ffc107;
  color: #333;
  padding: 40px 20px;
  margin-bottom: 30px;
  border-radius: 8px;
}

.offer-card {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.offer-card button {
  margin-top: 10px;
}
