/* Container Styles */
.product-page-container {
  padding: 15px;
  margin-bottom: 15px;
  text-align: center;
  background-color: #f9f9f93e;
  font-family: "Arial", sans-serif;
}

/* Title Styles */
.product-page-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
  text-decoration: underline;
}

/* Product List Styles */
.product-page-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
}

/* Product Card Styles */
.product-page-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.product-page-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

/* Product Image */
.product-page-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  background-color: #f2f2f2;
}

/* Product Info */
.product-page-info {
  padding: 15px;
  text-align: left;
}

.product-page-name {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 10px 0;
  color: #222;
}

.product-page-price {
  font-size: 1rem;
  color: green;
}

.product-page-condition {
  font-size: 1rem;
  margin-top: 5px;
  color: blue;
}

/* Responsive Design for Tablets and Smaller Devices */
@media (max-width: 768px) {
  .product-page-container {
    display: block;
    align-items: center;
  }

  .product-page-title {
    font-size: 2rem;
    margin-bottom: 15px;
  }

  .product-page-list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    max-width: 300px;
  }

  .product-page-card {
    margin: 0 auto;
    width: 100%;
  }

  .product-page-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .product-page-info {
    padding: 10px;
  }

  .product-page-name {
    font-size: 1rem;
  }

  .product-page-price,
  .product-page-condition {
    font-size: 0.9rem;
  }
}

/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}



/* Responsive Design for Mobile Devices */
@media (max-width: 480px) {
  .product-page-container {
    padding: 10px;
  }

  .product-page-title {
    font-size: 1.8rem;
  }

  .product-page-list {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
  }

  .product-page-card {
    border-radius: 5px;
  }

  .product-page-name {
    font-size: 0.95rem;
  }

  .product-page-price,
  .product-page-condition {
    font-size: 0.85rem;
  }
}
