/* General form styling */
.product-form {
  background-color: #f9f9f9;
  padding: 35px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  max-width: 750px;
  margin: 0 auto;
}

.product-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

.product-form input:focus {
  border-color: red;
}

.product-form input,
.product-form select,
.product-form textarea,
.product-form button {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.product-form input[type="checkbox"] {
  width: auto;
  margin-right: 3px;
  margin-bottom: 5px;
}

.product-form textarea {
  resize: none;
  min-height: 75px;
}

.product-form button {
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product-form button:hover {
  background-color: #45a049;
}

/* Image preview container */
.image-preview-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-bottom: 10px;
}

.image-preview-container img {
  border: 2px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.remove-picture-div {
  margin: auto;
  width: 65%;
  padding: 0;
  display: flex;
  justify-content: center;
}

.remove-picture-div button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 5px;
  font-size: 12px;
  transition: background-color 0.3s;
}

.remove-picture-div button:hover {
  background-color: #ff1a1a;
}

/* Tags styling */
.tags-div,
.tags-div2 {
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.tags-div {
  background-color: #e2d9d9;
}

.tags-div2 {
  background-color: rgba(0, 0, 0, 0.162);
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.tags-div .tag,
.tags-div2 .tag {
  display: flex;
  flex-direction: row;
  font-weight: 100;
  background-color: #fbf5f528;
  border: 1px solid #645e5e;
  border-radius: 23px;
  padding: 5px 9px;
  margin: 1px;
  cursor: pointer;
}

.tags-div .tag input {
  margin-right: 5px;
}

/* Dimensions container */
.product-dimensions-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 10px;
}

.product-dimensions-container input,
select {
  width: 30%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.product-dimensions-container label {
  margin-bottom: 0;
}

/* Responsive design */
@media (max-width: 600px) {
  .product-form {
    padding: 15px;
  }

  .image-preview-container img {
    width: 100px;
  }

  .product-dimensions-container {
    flex-direction: column;
    align-items: flex-start;
  }
}
