.custom-modal .ant-modal-content {
  border-radius: 12px;
  padding: 50px;
  background-color: #fff;
}

.modal-pricing {
  text-align: center;
}

.modal-new-price {
  color: #27ae60;
  font-weight: bold;
}

.modal-tags-div {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
}

.color-palette {
  display: flex;
  gap: 10px;
  margin-top: 8px;
}
