/* General form styling */
.product-form {
  background-color: #f1e8e8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}

.product-form h2 {
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

.product-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #075a87;
}

.product-form input:focus {
  border-color: red;
}

.product-form input,
.product-form select,
.product-form textarea {
  background-color: #075a8700;
  width: 90%;
}

.product-form input,
.product-form select,
.product-form textarea,
.product-form button {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #0a46a6;
  border-radius: 5px;
  font-size: 14px;
}

.product-form input[type="checkbox"] {
  width: auto;
  margin-right: 3px;
  margin-bottom: 5px;
}

.product-form textarea {
  resize: none;
  background-color: rgba(0, 128, 0, 0);
  min-height: 75px;
}

.product-form button {
  background-color: #17c71d;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product-form button:hover {
  background-color: #10e71a;
}

.info-div {
  border-left: 1px solid #0a46a6;
  padding: 15px;
}

/* Image preview container */
.image-preview-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  margin-bottom: 10px;
  flex-direction: column;
}

.image-preview-container img {
  border: 2px solid #ddd;
  border-radius: 5px;
  width: 100%;
  max-width: 180px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.remove-picture-div {
  margin: auto;
  width: 30%;
  align-items: left;
}

.remove-picture-div button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 6px 3px;
  font-size: 15px;
  transition: background-color 0.3s;
}

.remove-picture-div button:hover {
  background-color: #ff1a1a;
}

/* Tags styling */
.tags-div,
.tags-div2 {
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.tags-div {
  background-color: #e2d9d9;
}

.tags-div2 {
  background-color: rgba(0, 0, 0, 0.025);
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.tags-div .tag,
.tags-div2 .tag {
  display: flex;
  flex-direction: row;
  font-weight: 100;
  background-color: #fbf5f528;
  border: 1px solid #645e5e;
  border-radius: 23px;
  padding: 5px 9px;
  margin: 1px;
  cursor: pointer;
}

.tags-div .tag input {
  margin-right: 5px;
}

/* Dimensions container */
.product-dimensions-container div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 5px;
}

.dimensions select {
  width: 13%;
}

.product-dimensions-container input {
  width: 30%;
}

.product-dimensions-container input,
.dimensions select {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #0a46a6;
  border-radius: 5px;
  font-size: 14px;
}

.product-dimensions-container label {
  margin-bottom: 2px;
}

/* Responsive design */
@media (max-width: 600px) {
  .product-form {
    padding: 15px;
  }

  .image-preview-container img {
    width: 100px;
  }

  .product-dimensions-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .info-div {
    border: none;
  }
}
